body {
  font-family: 'Roboto', "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  color: #445A64;
}

body {
  margin: 0;
}

.l-offset-nav {
  padding-top: 56px;
}

.l-offset-side-nav {
  padding-left: 232px;
}

md-toolbar.md-default-theme {
  background-color: #222;
  color: rgb(255, 255, 255);
}

.main-nav {
  height: 56px;
  min-height: 56px;
  padding: 0 16px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.background-regal {
  background: #222;
  color: #FFF;
}

.l-layer-5 {
  z-index: 5;
}

.l-pinned-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.main-nav h1 {
  margin: 0 80px 0 0;
  padding: 0;
  height: 36px;
  width: 136px;
  float: left;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

md-toolbar.md-default-theme .md-button {
  color: rgb(255, 255, 255);
}

.md-button.md-default-theme {
  border-radius: 3px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), not all {
  .main-nav h1 a {
    /*background: url('https://angular.io/resources/images/logos/standard/logo-nav@2x.png') 0 8px no-repeat;*/
    background-size: 135px 36px;
  }
}

.main-nav h1 a {
  /*background: url('https://angular.io/resources/images/logos/standard/logo-nav.png') 0 8px no-repeat;*/
  display: block;
  height: 56px;
  /*width: 135px;*/
  width: 195px;
  overflow: hidden;
  /*text-indent: -3000px;*/
}

sup {
  top: -0.5em;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

md-toolbar.md-default-theme .md-button {
  color: rgb(255, 255, 255);
}



.main-nav .main-nav-button {
  line-height: 56px;
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  padding: 0 16px;
  text-transform: uppercase;
  font-family: 'Roboto', "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border: none;
  background: none;
  border-radius: 0;
  position: relative;
}

.md-button.md-default-theme {
  border-radius: 3px;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button, select {
  text-transform: none;
}

button {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

.main-nav .main-nav-mobile-trigger .icon {
  left: auto;
  right: 8px;
  opacity: .56;
}

.main-nav .main-nav-button .icon {
  font-size: 22px;
  position: absolute;
  top: 15px;
  left: 16px;
  z-index: 1;
}


.main-nav .main-nav-mobile-trigger {
  display: none;
  padding: 0 32px 0 8px;
  font-size: 14px;
}


@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 880px) {
  .main-nav .main-nav-mobile-trigger {
    display: inline-block;
  }
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 880px) {
  .main-nav ul {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    float: none;
    position: absolute;
    top: 56px;
    right: 0;
    left: 0;
    z-index: 6;
    background: #424242;
    display: none;
  }
}



@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 880px) {
  .main-nav .main-nav-mobile-trigger {
    display: inline-block;
  }
}

.is-visible {
  display: block!important;
}



.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  margin: 0;
}

.l-left {
  float: left;
}

.l-right {
  float: right;
}

@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 880px) {
  .main-nav {
    padding: 0 0 0 16px;
  }
}

@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 880px) {
  .main-nav ul li {
    display: block;
    float: none;
  }
}

@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 880px) {
  .main-nav ul .main-nav-button {
    display: block;
    float: none;
    line-height: 48px;
    text-align: left;
    font-size: 14px;
    padding: 0 40px;
  }
}


/*tools page left side nav*/
.side-nav {
  background: #ECEFF1;
  box-shadow: 3px 0 6px rgba(0,0,0,0.3);
  width: 232px;
  bottom: 0;
  overflow: auto;
}

.l-layer-4 {
  z-index: 4;
}

.l-offset-nav {
  padding-top: 56px;
}

.l-pinned-left {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.side-nav .side-nav-search {
  background: #8FA4AE;
  padding: 8px;
  height: 48px;
  border-bottom: 1px solid #CFD8DC;
  position: relative;
  display: none;
}

.side-nav .side-nav-search .mobile-trigger {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background: #8098a3;
  color: #FFF;
  padding-right: 32px;
  display: none;
}

.side-nav .side-nav-primary, .side-nav .side-nav-secondary {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

side-nav .side-nav-primary>li, .side-nav .side-nav-secondary>li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #CFD8DC;
}

.side-nav .side-nav-primary>li.is-selected>a, .side-nav .side-nav-secondary>li.is-selected>a {
  background: #CFD8DC;
  color: #0273D4;
}

.side-nav .side-nav-primary>li>a, .side-nav .side-nav-secondary>li>a {
  line-height: 47px;
  padding: 0 16px 0 48px;
  color: #536E7A;
  font-size: 14px;
  text-align: left;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
}

.md-button.md-default-theme {
  border-radius: 3px;
}

.side-nav .side-nav-primary>li.is-selected>a .side-nav-icon, .side-nav .side-nav-secondary>li.is-selected>a .side-nav-icon {
  color: #0273D4;
}

.side-nav .side-nav-primary>li .side-nav-icon, .side-nav .side-nav-secondary>li .side-nav-icon {
  position: absolute;
  top: 0;
  left: 16px;
  z-index: 1;
  font-size: 19px;
  color: #AFBEC5;
  line-height: 47px;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 800px) {
  .side-nav {
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
    width: auto;
    left: 0;
    right: 0;
    bottom: auto;
  }
}

#practices-content {
  margin-left:252px;
}

@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 800px) {

  .side-nav .side-nav-search .mobile-trigger {
    display: inline-block;
  }

  .side-nav .side-nav-search {
    display: block;
  }

  #practices-content {
    margin-left: 0;
    margin-top:50px;
  }
}

@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 800px) {
  .side-nav .side-nav-primary, .side-nav .side-nav-secondary {
    display: none;
  }
}


