<!--<div ng-controller="CtrlHome" class="container">-->
  <!--this is home page-->
  <!--<div class="slider single-item">-->
    <!--<div><h3>1</h3></div>-->
    <!--<div><h3>2</h3></div>-->
    <!--<div><h3>3</h3></div>-->
    <!--<div><h3>4</h3></div>-->
    <!--<div><h3>5</h3></div>-->
    <!--<div><h3>6</h3></div>-->
  <!--</div>-->
  <!--<div ng-init="initialization();"></div>-->
<!--</div>-->
<div class="container" style="text-align: center;">
  <img class="box-shadow img-rounded" src="/websites/img/stuffyoushouldknow.png"
       title="Web Sites you should know as a web developer" alt="Web Sites you should know as a web developer">
</div>
<style>
  .box-shadow {
    width: 100%;
    -webkit-box-shadow: -8px 5px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -8px 5px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -8px 5px 5px 0px rgba(50, 50, 50, 0.75);
  }
</style>
