<!--<div ng-controller="CtrlTools" ng-init="initialization();" class="container">-->
<!--<table class="table table-hover">-->
<!--<tr ng-repeat="tool in tools">-->
<!--<td><a target="_blank" ng-href="{{tool.link}}">{{tool.name}}</a></td>-->
<!--<td><span class="label label-info">{{tool.type}}</span></td>-->
<!--</tr>-->
<!--</table>-->
<!--</div>-->

<div ng-controller="CtrlPractices" ng-init="initialization();">
<nav class="side-nav l-pinned-left l-layer-4 l-offset-nav" >
  <header class="side-nav-search st-input-wrapper">
    <button class="mobile-trigger button md-button md-default-theme" ng-transclude="" aria-label="View Docs Menu"
            ng-click="toggleDocsMenu($event)" md-button="md-button" tabindex="0"><span
      class="ng-scope">Guides </span>

      <span style="  position: absolute;top: 3px;right: 15px;"><i class="fa fa-sort-desc"></i></span>
      <!--<span class="icon icon-arrow-drop-down ng-scope"></span>-->

      <div class="md-ripple-container"></div>
    </button>
  </header>

  <ul ng-class="showDocsNav ? 'is-visible' : ''" class="side-nav-primary"><!-- PRIMARY NAVIGATION-->
    <li ng-class="{'is-selected': isActive('/practices/frameworks')}" class="">
      <a class="md-button md-default-theme" ng-transclude="" href="#/practices/frameworks" md-button="">
        <span class="side-nav-icon icon-home ng-scope"></span>
        <span class="ng-scope"> Frameworks</span>
        <div class="md-ripple-container"></div>
      </a>
    </li>
    <!-- SECONDARY NAVIGATION--><!-- PRIMARY NAVIGATION-->
    <li ng-class="{'is-selected': isActive('/practices/coding')}">
      <a class="md-button md-default-theme" ng-transclude="" href="#/practices/coding" md-button="">
        <span
          class="side-nav-icon icon-query-builder ng-scope"></span>
        <span class="ng-scope"> Coding</span>
      </a>
    </li>
    <!-- SECONDARY NAVIGATION--><!-- PRIMARY NAVIGATION-->
    <li ng-class="{'is-selected': isActive('/practices/service')}"><a class="md-button md-default-theme"
                                                                      ng-transclude="" href="#/practices/service"
                                                                      md-button=""><span
      class="side-nav-icon icon-list ng-scope"></span><span class="ng-scope"> Service</span></a></li>
    <!-- SECONDARY NAVIGATION-->
  </ul>
</nav>
<div id="practices-content" ui-view></div>

<!--<div style="margin-left:252px;">-->
  <!--<table class="table table-hover">-->
    <!--<tr ng-repeat="tool in tools">-->
      <!--<td><a target="_blank" ng-href="{{tool.link}}">{{tool.name}}</a></td>-->
      <!--<td><span class="label label-info">{{tool.type}}</span></td>-->
    <!--</tr>-->
  <!--</table>-->
<!--</div>-->
</div>
