<div class="container" ng-controller="CtrlUsers" ng-init="initialization();">
  <div class="panel panel-default" ng-repeat="user in users">
    <div class="panel-heading">
      <h3 class="panel-title"><a ng-href="{{user.site}}" target="_blank">{{user.name}}</a></h3>
    </div>
    <div class="panel-body">
      <div class="media">
        <div class="media-left">
          <a ng-href="{{user.site}}" target="_blank">
            <img class="media-object" style="width: 64px;height: 64px;" ng-src="/websites/img/avatar/{{user.avatar}}" alt="{{user.name}}">
          </a>
        </div>
        <div class="media-body">
          {{user.description}}
        </div>
      </div>
    </div>
    <div class="panel-footer" style="background-color: #fff;">
      <a ng-href="{{user.github}}" target="_blank" style="color:#333;">
        <i class="fa fa-github-alt"></i>
      </a>
    </div>
  </div>
</div>
