<div ng-controller="CtrlUsers" ng-init="initialization();" id="users-container" >
  <ul class="polaroids">
    <li ng-repeat="user in users">
      <a ng-href="{{user.site}}" title="{{user.name}}" target="_blank">
        <img alt="{{user.name}}" ng-src="/websites/img/avatar/{{user.avatar}}">
      </a>
    </li>
  </ul>
</div>

<div id="users-container" style="display: none;">

  <ul class="polaroids">
    <li>
      <a href="http://www.flickr.com/photos/zurbinc/3971679981/" title="Roeland!">
        <img alt="Roeland!" src="/websites/img/avatar/sofish.png">
      </a>
    </li>
    <li>
      <a href="http://www.flickr.com/photos/zurbinc/3971679981/" title="Roeland!">
        <img alt="Roeland!" src="/websites/img/avatar/sofish.png">
      </a>
    </li>
    <li>
      <a href="http://www.flickr.com/photos/zurbinc/3971679981/" title="Roeland!">
        <img alt="Roeland!" src="/websites/img/avatar/sofish.png">
      </a>
    </li>
    <li>
      <a href="http://www.flickr.com/photos/zurbinc/3971679981/" title="Roeland!">
        <img alt="Roeland!" src="/websites/img/avatar/sofish.png">
      </a>
    </li>
    <li>
      <a href="http://www.flickr.com/photos/zurbinc/3971679981/" title="Roeland!">
        <img alt="Roeland!" src="/websites/img/avatar/sofish.png">
      </a>
    </li>
    <li>
      <a href="http://www.flickr.com/photos/zurbinc/3971679981/" title="Roeland!">
        <img alt="Roeland!" src="/websites/img/avatar/sofish.png">
      </a>
    </li>
    <li>
      <a href="http://www.flickr.com/photos/zurbinc/3971679981/" title="Roeland!">
        <img alt="Roeland!" src="/websites/img/avatar/sofish.png">
      </a>
    </li>
    <li>
      <a href="http://www.flickr.com/photos/zurbinc/3971679981/" title="Roeland!">
        <img alt="Roeland!" src="/websites/img/avatar/sofish.png">
      </a>
    </li>
    <li>
      <a href="http://www.flickr.com/photos/zurbinc/3971679981/" title="Roeland!">
        <img alt="Roeland!" src="/websites/img/avatar/sofish.png">
      </a>
    </li>
    <li>
      <a href="http://www.flickr.com/photos/zurbinc/3971679981/" title="Roeland!">
        <img alt="Roeland!" src="/websites/img/avatar/sofish.png">
      </a>
    </li>
    <li>
      <a href="http://www.flickr.com/photos/zurbinc/3971679981/" title="Roeland!">
        <img alt="Roeland!" src="/websites/img/avatar/sofish.png">
      </a>
    </li>
    <li>
      <a href="http://www.flickr.com/photos/zurbinc/3971679981/" title="Roeland!">
        <img alt="Roeland!" src="/websites/img/avatar/sofish.png">
      </a>
    </li>
    <li>
      <a href="http://www.flickr.com/photos/zurbinc/3971679981/" title="Roeland!">
        <img alt="Roeland!" src="/websites/img/avatar/sofish.png">
      </a>
    </li>
    <li>
      <a href="http://www.flickr.com/photos/zurbinc/3971679981/" title="Roeland!">
        <img alt="Roeland!" src="/websites/img/avatar/sofish.png">
      </a>
    </li>
    <li>
      <a href="http://www.flickr.com/photos/zurbinc/3971679981/" title="Roeland!">
        <img alt="Roeland!" src="/websites/img/avatar/sofish.png">
      </a>
    </li>
    <li>
      <a href="http://www.flickr.com/photos/zurbinc/3971679981/" title="Roeland!">
        <img alt="Roeland!" src="/websites/img/avatar/sofish.png">
      </a>
    </li>
    <li>
      <a href="http://www.flickr.com/photos/zurbinc/3971679981/" title="Roeland!">
        <img alt="Roeland!" src="/websites/img/avatar/sofish.png">
      </a>
    </li>
    <li>
      <a href="http://www.flickr.com/photos/zurbinc/3971679981/" title="Roeland!">
        <img alt="Roeland!" src="/websites/img/avatar/sofish.png">
      </a>
    </li>
    <li>
      <a href="http://www.flickr.com/photos/zurbinc/3971679981/" title="Roeland!">
        <img alt="Roeland!" src="/websites/img/avatar/sofish.png">
      </a>
    </li>
    <li>
      <a href="http://www.flickr.com/photos/zurbinc/3971679981/" title="Roeland!">
        <img alt="Roeland!" src="/websites/img/avatar/sofish.png">
      </a>
    </li>
    <li>
      <a href="http://www.flickr.com/photos/zurbinc/3971679981/" title="Roeland!">
        <img alt="Roeland!" src="/websites/img/avatar/sofish.png">
      </a>
    </li>
    <li>
      <a href="http://www.flickr.com/photos/zurbinc/3971679981/" title="Roeland!">
        <img alt="Roeland!" src="/websites/img/avatar/sofish.png">
      </a>
    </li>
    <li>
      <a href="http://www.flickr.com/photos/zurbinc/3971679981/" title="Roeland!">
        <img alt="Roeland!" src="/websites/img/avatar/sofish.png">
      </a>
    </li>
  </ul>
</div>
